#pokemonList {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 50px;
    font-family: 'Courier New', Courier, monospace
}

.pokemon {
    padding: 30px;
    width: 18%;
}

h1 {
    font-size: 24px;
}

#types {
    font-size: 12px;
}

img {
    background-color: #dddddd;
    width: 100%;
    border-radius: 5px;
}